<article class="post-entry series-entry">
    <span class="series-entry__part">Part {{ .Weight }}</span>
    <header class="entry-header">
        <h2 class="entry-hint-parent">{{ .Title }}</h2>
    </header>
    <div class="entry-content">
        <p>{{ .Description }}</p>
    </div>
    {{- if not (.Param "hideMeta") }}
    <footer class="entry-footer">{{- partial "post_meta.html" . -}}</footer>
    {{- end }}
    <a class="entry-link" aria-label="Open Part {{ .Weight }}: {{ .Title | plainify }}" href="{{ .RelPermalink }}"></a>
</article>
